body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "contact contact contact contact";
    grid-template-columns: repeat(4, 1fr);
}

.header {
  grid-area: header;
}


/* Hero */

.hero {
  grid-area: hero;
  height: 90vh;
  background: url("../images/desktop/image-header.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.hero h2 {
  font-family: "Fraunces", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  position: absolute;
  top: 100px;
}

.hero:after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  top: 300px;
  bottom: 100px;
  animation: move 0.6s infinite ease-in-out;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }

  100% {
    -webkit-transform: translateY(0.7em);
    opacity: 0.9;
  }
}

@media (max-width: 425px) {
  .hero {
    height: 60vh;
  }

  .hero h2 {
    font-size: 20px;
  }
}


/* About */

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  max-width: 1920px;
  margin: 0 auto;
}

.about .image {
  max-width: 1440px;
  height: 100%;
  width: 100%;
}

.about .item {
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about .item h3 {
  font-weight: 700;
  font-size: 35px;
}

.about .item p {
  font-weight: 600;
  font-size: 16px;
  margin: 30px 0;
  font-family: "Barlow", sans-serif;
  color: var(--azul-escuro-acinzentado);
}

.about .item a.btn-know-more {
  font-size: 16px;
  align-self: flex-start;
}

.about .item a.btn-know-more.amarelo:hover {
  border-bottom: 3px solid var(--amarelo);
}

.about .item a.btn-know-more.vermelho:hover {
  border-bottom: 3px solid var(--neutro-vermelho);
}

.about .image.right {
  background: url(../images/desktop/image-transform.jpg) center center no-repeat;
  background-size: cover;
}

.about .image.left {
  background: url(../images/desktop/image-stand-out.jpg) center center no-repeat;
  background-size: cover;
}

.about .image.item1 img.image-item,
.about .image.item2 img.image-item {
  width: 100%;
  height: 100%;
}

.about .image.item1,
.about .image.item2 {
  position: relative;
}

.about .image.item1 .container-conteudo,
.about .image.item2 .container-conteudo {
  position: absolute;
  bottom: 60%;
  top: 60%;
  left: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 200px;
}

.about .image.item1 .container-conteudo h3,
.about .image.item1,
.container-conteudo p {
  color: var(--ciano-escuro-moderno);
}

.about .image.item2 .container-conteudo h3,
.about .image.item2,
.container-conteudo .descricao-azul {
  color: var(--azul-escuro);
}

.about .image.item1 .container-conteudo h3,
.about .image.item2 .container-conteudo h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.about .image.item1 .container-conteudo p,
.about .image.item2 .container-conteudo p.descricao-azul {
  font-weight: 600;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  width: 300px;
  text-align: center;
}

@media (max-width: 1024px) {
  .about .image.item1 .container-conteudo,
  .about .image.item2 .container-conteudo {
    left: 20%;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .about .image.item1 img.image-item,
  .about .image.item2 img.image-item {
    width: 100%;
  }
  .about .image.item1 .container-conteudo,
  .about .image.item2 .container-conteudo {
    left: 10%;
    top: 55%;
  }
}

@media (max-width: 425px) {
  .about .image.item1 .container-conteudo,
  .about .image.item2 .container-conteudo {
    left: 15%;
    top: 45%;
  }

  .about .item {
    text-align: center;
  }

  .about .item a.btn-know-more {
    align-self: center;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 320px) {
  .about .image.item1 .container-conteudo,
  .about .image.item2 .container-conteudo {
    left: 1%;
    top: 45%;
  }

  .about .image.item1 .container-conteudo h3,
  .about .image.item2 .container-conteudo h3 {
    font-size: 15px;
  }

  .about .image.item1 .container-conteudo p,
  .about .image.item2 .container-conteudo p.descricao-azul {
    font-size: 10px;
  }
}

/* Services */

.services {
  grid-area: services;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.services h2 {
  font-weight: 900;
  font-family: "Fraunces", sans-serif;
  color: var(--azul-acinzentado);
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 25px;
  padding: 15px;
}

.services .list-membres {
  display: flex;
}

.services .list-membres li {
  margin: 15px;
}

.services .list-membres li .membres {
  border-radius: 50%;
  padding: 25px;
  height: 40%;
  transition: 0.3s ease-in-out;
}

.services .list-membres li .membres:hover {
  transform: scale(1.2);
}

.services .list-membres li .membres-descrition {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 15px;
  color: var(--azul-muito-escuro-acinzentado);
  width: 380px;
  line-height: 25px;
}

.services .list-membres li .membres-name {
  color: black;
  font-size: 23px;
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  padding: 15px;
}

.services .list-membres li .membres-profession {
  color: var(--azul-acinzentado);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .services ul.list-membres {
    flex-direction: column;
  }
}

/* Projects */

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.projects img {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.projects img:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .projects img {
    width: 430px;
  }

  .services .list-membres li .membres-descrition {
    padding: 15px;
    width: 300px;
  }
}

@media (max-width: 320px) {
  .projects img {
    width: 330px;
  }
}

/* Contact */

.contact {
  grid-area: contact;
  display: flex;
  background-color: var(--ciano-claro-moderno);
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
}

.contact h3 {
  font-weight: 900;
  font-size: 35px;
  font-family: 'Fraunces', sans-serif;
  margin-bottom: 20px;
  color: var(--ciano-escuro-desaturado);
}

.contact nav {
  margin: 50px 0;
}

.contact nav ul {
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

.contact nav ul li a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
    color: var(--ciano-escuro-desaturado);
    transition: 0.3s ease-in-out;
}

.contact nav ul li a:hover {
  font-weight: 500;
  color: #ffffff;
}


.contact .social-media a svg{
  font-size: 20px;
  fill: var(--ciano-escuro-desaturado);
  transform: 0.3s ease-in-out;
}

.contact .social-media a {
  margin: 15px;
}
.contact .social-media a svg:hover{
  fill: #ffffff;
  font-weight: 500;
}

/* Header */

.header .header-container {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  background-color: hsl(206, 97%, 63%);
}

.header h1 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.header a:hover h1 {
  color: var(--amarelo);
  scale: (1.1);
  transform: scale(1.1);
}